// TYPOGRAPHY
$font-newspaper: georgia, 'PT Serif', serif;
$font-ui: 'Avenir Next', 'Montserrat', sans-serif;

// ANIMATIONS
$transition-fast: 0.3s ease;
$transition-slow: 0.6s ease;

// COLORS
$offblack      : #333;
$offwhite      : #ededed;
$red_accent    : rgb(241, 96, 97);
$yellow_accent : rgb(253, 212, 132);
$green_accent  : rgb(175, 215, 146);
$blue_accent   : rgb(168, 210, 191);
$orange_accent : rgb(255,153,000);
$purple_accent : rgb(102,000,153);
$teal_accent : rgb(000,153,153);
$pink_accent : rgb(255,102,255);
$darkblue_accent : rgb(000,051,153);
$magenta_accent : rgb(153,000,204);
$lightgreen_accent: rgb(70,194,64);
$lightblue_accent: rgb(94,242,188);
